@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/*盒模型*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*覆盖或添加jquery ui dialog效果*/
.ui-widget-overlay {
    background-color: #98999a;
}

.ui-dialog {
    box-shadow: 1px 1px 3px 5px #898989;
}

.ui-dialog-titlebar {
    display: none;
}

/*a class鼠标悬浮时加深块体颜色*/
a.x-wiki-index-cat {
    color: #333333;
    font-size: large;
    display: block;
    padding: 3px 0 3px 0;
}

a.x-wiki-index-cat:hover {
    background: #f3f3f3;
}

a.x-wiki-index-item {
    color: #333333;
    text-decoration: none;
    display: block;
    font-size: medium;
    padding: 3px 0 3px 0;
}

a.x-wiki-index-item:hover {
    background: #f3f3f3;
}

/*每一级列表向右偏移*/
.side-bar-mar {
    position: relative;
    margin-left: 15px;
}

/*absolute脱离文档流加减号定位（左上角），相对父级非static（默认）元素,否则相对于body*/
.plus-minus-position {
    position: absolute;
    top: 10px;
    left: -16px;
    color: #b4b4b4;
}

/*相同命名属性叠加*/
.sidebar-para {
    border-right : solid 1px #e4e4e4;
}

@media (max-width: 600px) {
    /*原先fixed有效是由于：不为元素预留空间，而是通过指定元素相对于屏幕视口（viewport）的位置来指定元素位置。
元素的位置在屏幕滚动时不会改变。打印时，元素会出现在的每页的固定位置。fixed 属性会创建新的层叠上下文。
当元素祖先的 transform  属性非 none 时，容器由视口改为该祖先。*/
    .sidebar-para {
        position: absolute;
        left: -65%;
        width: 65%;
        padding-left : 1%;
        background: #fdfeff;
    }

    .content-para {
        position: relative;
        padding-left: 1%;
        padding-right: 1%;
        width: 100%;
    }
    /*编辑器*/
    #markdownEditor {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        box-shadow: 1px 1px 10px 5px #000000;
    }

}

/*992*/
@media (min-width: 600px) {
    .sidebar-para {
        float: left;
        padding-left: 1%;
        width: 16.7%;
        background: #fdfeff;
    }

    .content-para {
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        width: 83.3%;
    }

    /*蒙层*/
    #overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.1);
    }

    /*编辑器*/
    #content-editormd-editor {
        position: fixed;
        z-index: 2;
        top: 5%;
        left: 5%;
        background-color: #ffffff;
        box-shadow: 1px 1px 10px 5px #000000;
    }
}

/*输入框*/
.input {
    padding: 0 1em;
    text-align: center;
    height: 1.7em;
    border-radius: 10px;
}





