<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 注意此处的name要全限定类名 -->
        <Logger name="wp.controller.NoteController" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 注意此处的name要全限定类名 -->
        <Logger name="wp.shiro.JWTFilter" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug"/>
    </Loggers>
</Configuration>